#app {
    text-align: center;
}

.container {
    position: relative;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
  }

.over {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
}

.over video {
    border: 3px solid green;
    width: 200px;
}

.cercevele {
    margin: auto;
    border: 3px solid green;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.button {
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    background-color: 	RGB(220, 53, 69);
}

.bg-paint-white {
    background-color: white;
}

.main-video {
    border: 3px solid green;
}